.pht{
  display:flex;
  flex-wrap:wrap;
  justify-content: space-around;

}

img{
object-fit:cover;
width:20%;
height:100px;
padding:8px;
}
h1{
  font-size:50px;
  font-family: 'Jacques Francois Shadow', cursive;
  color:#ffcccc;
}

@media screen and (max-width:985px){
img{
  width:40%;
  height:150px;
}
h1{
  font-size:45px;

}
@media screen and (max-width:600px){
  img{

    width:100%;
    height:250px;
    /* margin:auto; */
  }
  h1{
    font-size:40px;
  }
}
